*.jl.cov
*.jl.*.cov
*.jl.mem
/Manifest.toml
/deps/deps.jl
/docs/build
/docs/Manifest.toml
/test/coverage/Manifest.toml
.vscode/*
/temp/*
/Data/GFMC_1*
err*.txt
out*.txt
energy_mu_S1.h5
Application/Data
